.sign__caption {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
    margin: 0;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 15px;
}