.page {
  background-color: #000000;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  padding-top: 45px;
  padding-bottom: 60px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
  min-height: 100vh;
}

@media screen and (max-width: 879px) {
  .page {
    padding-top: 28px;
    padding-bottom: 36px;
  }
}
