.profile__info-add-button {
  width: 150px;
  height: 50px;
  border: 0;
  align-self: center;
  cursor: pointer;
  background: url("../../../images/buttons/add-button.svg") no-repeat scroll 0 0 transparent;

}

.profile__info-add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 617px) {
  .profile__info-add-button {
    width: 282px;
    background: url("../../../images/buttons/add-button-small.svg") no-repeat scroll 0 0 transparent;
  }
}
